h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

@keyframes disco {
	0% {
		background-color: yellow;
	}

	25% {
		background-color: red;
	}

	50% {
		background-color: blue;
	}

	75% {
		background-color: green;
	}

	100% {
		background-color: hotpink;
	}
}

body {
	animation: disco 30s infinite;
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	 background-color: #5f93e8;
}

.android:active {
	transition: all 5s;
	transform: rotate(1440deg);
}

.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
} 

.eyes {
	display: inline-block;
}

.head:hover {
	width: 300px;
    transition: 1s ease-in-out;
}

.upper_body { 
	width: 300px; 
	height: 150px;
	display: flex;
	margin: 0 auto;
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px;
	transition: all 0.5s;
} 

.left_arm { 
	margin-right: 10px; 
} 

.right_arm { 
	margin-left: 10px; 
} 

@keyframes right-arm-wave {
		0% {
			transform: rotate(-150deg);
			background-color: yellow;
		}
	25% {
		background-color: green;
		transform: rotate(-120deg);
	}
	50% {
		background-color: red;
		transform: rotate(-130deg);
	}
	75% {
		background-color: blue;
		transform: rotate(-120deg);
	}
	100% {
		transform: rotate(-1000deg);
		background-color: purple;
	}
}

@keyframes left-arm-wave {
	0% {
		transform: rotate(-20deg);
		background-color: yellow;
	}

	25% {
		background-color: green;
		transform: rotate(-20deg);
	}

	50% {
		background-color: red;
		transform: rotate(-50deg);
	}

	75% {
		background-color: blue;
		transform: rotate(-40deg);
	}

	100% {
		transform: rotate(-1000deg);
		background-color: purple;
	}
}

.left_arm:hover {
	animation-name: left-arm-wave;
	animation-duration: 3s;
}

.right_arm:hover {
	animation-name: right-arm-wave;
	animation-duration: 3s;
}

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
} 

.lower_body { 
	width: 200px; 
	height: 200px;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;

} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
	transition: all 0.5s;
} 

.left_leg { 
	margin-left: 30px;
	margin-top: 40px;
} 

.left_leg:hover {
    transform: rotate(20deg);
}

.right_leg {
	display: block;
	margin-left: 120px;
	margin-top: -120px;
}

.right_leg:hover {
	transform: rotate(-20deg);
}

.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: white;  
} 

.left_eye { 
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */
	position: relative; 
	top: 100px; 
	left: 40px; 
} 

.right_eye { 
	position: relative; 
	top: 80px; 
	left: 140px; 
}





